header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  a {
    padding: 4px;
    cursor: pointer;
    margin: 0 6px;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
      color: lightgray;
    }
  }
}
